@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --brand-blue: #007BFF;
    --soft-blue: #E7F1FF;
}

body {
    @apply bg-white text-gray-800 antialiased;
    font-family: 'Figtree', sans-serif;
}